/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MOD_MORPH_SHIFT(NAME, KEY, MOD_KEY) \
  mm_##NAME: mm_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = #NAME; \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
    keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

#define DEFAULT 0
#define NAVIGATION_LEFT 1
#define NAVIGATION_RIGHT 1

// KEY POSITION REFERENCE
// ------------------------------------------------------------------------
// | 00 | 01 | 02 | 03 | 04 | 05 |    | 06 | 07 | 08 | 09 | 10 | 11 |
// | 12 | 13 | 14 | 15 | 16 | 17 |    | 18 | 19 | 20 | 21 | 22 | 23 |
// | 24 | 25 | 26 | 27 | 28 | 29 |    | 30 | 31 | 32 | 33 | 34 | 35 |
//                | 36 | 37 | 38 |    | 39 | 40 | 41 |

/ {

  behaviors {
    lt_b: layer_tap_balanced {
      compatible = "zmk,behavior-hold-tap";
      label = "LAYER_TAP_BALANCED";
      #binding-cells = <2>;
      bindings = <&mo>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <500>;
    };
    lt_tp: layer_tap_tap_preferred {
      compatible = "zmk,behavior-hold-tap";
      label = "LAYER_TAP_TAP_PREFERRED";
      #binding-cells = <2>;
      bindings = <&mo>, <&kp>;
      flavor = "tap-preferred";
      tapping-term-ms = <500>;
    };
    htl: hold_tap_left {
      compatible = "zmk,behavior-hold-tap";
      label = "HOLD_TAP_LEFT";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 39 40 41>;
    };
    htr: hold_tap_right {
      compatible = "zmk,behavior-hold-tap";
      label = "HOLD_TAP_RIGHT";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
    };
    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        bindings = <&kp>, <&kp>;
        flavor = "balanced";
        tapping-term-ms = <200>;
        quick-tap-ms = <0>;
    };
    MOD_MORPH_SHIFT(single_quote, SINGLE_QUOTE, LS(GRAVE)) // ' | `
  };

  keymap {
    compatible = "zmk,keymap";

      default_layer {
        bindings = <

          &kp ESC                       // Tab       -> Esc |
          &kp Q                         // q         -> q   | Q
          &kp W                         // w         -> w   | W
          &kp E                         // e         -> e   | E
          &kp R                         // r         -> r   | R
          &kp T                         // t         -> t   | T

          &kp Y                         // y         -> y   | Y
          &kp U                         // u         -> u   | U
          &kp I                         // i         -> i   | I
          &kp O                         // o         -> o   | O
          &kp P                         // p         -> p   | P
          &kp EQUAL                     // \         -> =   | _

          &kp TAB                       // Caps Lock
          &htl LEFT_CONTROL A                         // a
          &htl LEFT_ALT S                         // s
          &htl LEFT_SHIFT D                         // d
          &htl LEFT_COMMAND F                         // f
          &kp G                         // g

          &kp H                         // h
          &htr RIGHT_COMMAND J                         // j
          &htr RIGHT_SHIFT K                         // k
          &htr RIGHT_ALT L                         // l
          &mm_single_quote              // ;
          &kp RETURN                    // '
          
          &kp LSHFT        // Left Shift
          &kp Z            // z
          &kp X            // x
          &kp C            // c
          &kp V            // v
          &kp B            // b

          &kp N           // n
          &kp M           // m
          &kp COMMA       // ,
          &kp DOT         // .
          &hm RIGHT_CONTROL FSLH        // /
          &kp RETURN      // Right Shift    -> Return 

          &kp LGUI                      // Left Option
          &mo 2                         // Left Command
          &lt_b NAVIGATION_LEFT SPACE          // Space

          &lt_b NAVIGATION_RIGHT SPACE          // Space
          &mo 3                         // Right Command
          &kp BACKSPACE                 // Right Option

        >;
      };

      navigation_layer_left {
        bindings = <

          &none
          &kp F1
          &kp F2
          &kp F3
          &kp F4
          &none

          &none
          &kp HOME
          &kp UP_ARROW
          &kp END
          &kp PAGE_UP
          &kp BACKSPACE

          &none
          &htl LEFT_CONTROL F5
          &htl LEFT_ALT     F6
          &htl LEFT_SHIFT   F7
          &htl LEFT_COMMAND F8
          &none

          &none
          &kp LEFT_ARROW
          &kp DOWN_ARROW
          &kp RIGHT_ARROW
          &kp PAGE_DOWN
          &none

          &none
          &kp F9
          &kp F10
          &kp F11
          &kp F12
          &none

          &none
          &none
          &none
          &none
          &none
          &none

          &none
          &none
          &none

          &none
          &none
          &none

        >;
      };

      navigation_layer_RIGHT {
        bindings = <

          &none
          &kp F1
          &kp F2
          &kp F3
          &kp F4
          &none

          &none
          &kp HOME
          &kp UP_ARROW
          &kp END
          &kp PAGE_UP
          &kp BACKSPACE

          &none
          &kp F5
          &kp F6
          &kp F7
          &kp F8
          &none

          &none
          &htr RIGHT_COMMAND LEFT_ARROW
          &htr RIGHT_SHIFT   DOWN_ARROW
          &htr RIGHT_SHIFT   RIGHT_ARROW
          &htr RIGHT_COMMAND PAGE_DOWN
          &none

          &none
          &kp F9
          &kp F10
          &kp F11
          &kp F12
          &none

          &none
          &none
          &none
          &none
          &none
          &none

          &none
          &none
          &none

          &none
          &none
          &none

        >;
      };

      lower_layer {
        bindings = <

        &kp TAB
        &kp N1
        &kp N2
        &kp N3
        &kp N4
        &kp N5
        
        &kp N6
        &kp N7
        &kp N8
        &kp N9
        &kp N0
        &kp BSPC

        &bt BT_CLR
        &bt BT_SEL 0
        &bt BT_SEL 1
        &bt BT_SEL 2
        &bt BT_SEL 3
        &bt BT_SEL 4

        &kp LEFT
        &kp DOWN
        &kp UP
        &kp RIGHT
        &none
        &none

        &kp LSHFT
        &none
        &none
        &none
        &none
        &none

        &none
        &none
        &none
        &none
        &none
        &none

        &kp LGUI
        &none
        &kp SPACE
        
        &kp RET
        &none
        &kp RALT

      >;
    };

    raise_layer {
      bindings = <

        &kp TAB
        &kp EXCL
        &kp AT
        &kp HASH
        &kp DLLR
        &kp PRCNT

        &kp CARET
        &kp AMPS
        &kp KP_MULTIPLY
        &kp LPAR
        &kp RPAR
        &kp BSPC

        &kp LCTRL
        &none
        &none
        &none
        &none
        &none
        
        &kp MINUS
        &kp EQUAL
        &kp LBKT
        &kp RBKT
        &kp BSLH
        &kp GRAVE

        &kp LSHFT
        &none
        &none
        &none
        &none
        &none

        &kp UNDER
        &kp PLUS
        &kp LBRC
        &kp RBRC
        &kp PIPE
        &kp TILDE

        &kp LGUI
        &none
        &kp SPACE
        
        &kp RET
        &none
        &kp RALT

      >;
    };

  };

};
