/ {
  behaviors {
    mt_ui {
      compatible = "zmk,behavior-hold-tap";
      label = "MOD_TAP_UNLESS_INTERRUPTED";
      #binding-cells = <2>;
      flavor = "tap-unless-interrupted";
      tapping-term-ms = <150>;
      quick-tap-ms = <200>;
      bindings = <&kp>, <&kp>;
    };
  };
};
