#include <behaviors/macros.dtsi>

#define ZMK_MOD_MORPH(name, behavior1, behavior2, mods, keep_mods) \
  name: name { \
    label = ZMK_MACRO_STRINGIFY(ZMM_ ## name); \
    compatible = "zmk,behavior-mod-morph"; \
    #binding-cells = <0>; \
    bindings = <behavior1>, <behavior2>; \
    mods = <mods>; \
    keep-mods = <keep_mods>; \
  };
