#define MOD_MORPH(name, behavior1, behavior2, ...) \
  name: name { \
    compatible = "zmk,behavior-mod-morph"; \
    label = ZMK_MACRO_STRINGIFY(MM_ ## name); \
    #binding-cells = <0>; \
    bindings = <behavior1>, <behavior2>; \
    __VA_ARGS__ \
  };
