#define MOUSE_MOVE_SPEED 1500
#define MOUSE_MOVE_TIME 1500
#define MOUSE_MOVE_EXPONENT 1

#define MOUSE_SCROLL_SPEED 50
#define MOUSE_SCROLL_TIME 5000
#define MOUSE_SCROLL_EXPONENT 0

&mmv {
  time-to-max-speed-ms = <MOUSE_MOVE_TIME>;
  acceleration-exponent = <MOUSE_MOVE_EXPONENT>;
};

&mwh {
  time-to-max-speed-ms = <MOUSE_SCROLL_TIME>;
  acceleration-exponent=<MOUSE_SCROLL_EXPONENT>;
};

#undef MOVE_UP
#undef MOVE_DOWN
#undef MOVE_LEFT
#undef MOVE_RIGHT
#define MOVE_UP MOVE_VERT(-MOUSE_MOVE_SPEED)
#define MOVE_DOWN MOVE_VERT(MOUSE_MOVE_SPEED)
#define MOVE_LEFT MOVE_HOR(-MOUSE_MOVE_SPEED)
#define MOVE_RIGHT MOVE_HOR(MOUSE_MOVE_SPEED)

#undef SCROLL_UP
#undef SCROLL_DOWN
#undef SCROLL_LEFT
#undef SCROLL_RIGHT
#define SCROLL_UP SCROLL_VERT(MOUSE_SCROLL_SPEED)
#define SCROLL_DOWN SCROLL_VERT(-MOUSE_SCROLL_SPEED)
#define SCROLL_LEFT SCROLL_HOR(-MOUSE_SCROLL_SPEED)
#define SCROLL_RIGHT SCROLL_HOR(MOUSE_SCROLL_SPEED)
