#define TAP_DANCE(name, behavior1, behavior2) \
  name: name { \
    compatible = "zmk,behavior-tap-dance"; \
    label = ZMK_MACRO_STRINGIFY(TD_ ## name); \
    #binding-cells = <0>; \
    bindings = <behavior1>, <behavior2>; \
  };
